* {
    margin: 0;
    padding: 0;
}

.navbar {
    background: linear-gradient(135deg, rgb(240, 60, 0), rgb(0, 0, 0)); /* Adding gradient background */
    width: 100%;
    height: 8vh;
}

.item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

.link {
    color: white;
    text-decoration: none;
    font-size: 1.2rem; /* Adding some font size to make the links more noticeable */
    transition: color 0.3s ease; /* Adding transition for hover effect */
}

.link:hover {
    color: black;  /* Hover effect changes text color */
    transform: scale(1.1);  /* Slightly enlarging the link on hover */
}

